<!-- choises of shown data -->
<div class="jumbotron jumbotron-fluid">
  <div class="container ">

    <!-- -------------------------------------- -->
    <!-- No data shows when their is no student data available -->
    <div class="pricing-header row justify-content-center">
      <div class="no-data text-center" *ngIf="noData">
        <p class="nodata-msg">No student added yet!</p>
      </div>
      <form [formGroup]="editForm" (ngSubmit)="updateForm()" novalidate>
        <!-- Showing students data -->
        <div class="table-responsive" *ngIf="hideWhenNoStudent">
          <table
            class="table table-bordered table-light table-hover table-responsive-sm table-responsive-md table-responsive-lg">
            <thead>
              <tr>
                <th scope="col">Student name</th>
                <th scope="col">E-Commerce M.</th>
                <th scope="col">Management Processes</th>
                <th scope="col">Mobile Computing</th>
                <th scope="col">Social</th>
                <th scope="col">Linear algebra</th>
                <th scope="col">ERP</th>
                <th scope="col">Adv. PM</th>
              </tr>
            </thead>
            <tbody>
              <!-- *ngFor loop iterates over Student array and fetch the student's data -->
              <!-- paginate pipe will add pagination in student's list, it won't show if items are less then 11 -->
              <tr *ngFor="let student of Student| paginate: { itemsPerPage: 10, currentPage: p }; let i = index;">
                <td><i class="far fa-edit" routerLink="/edit-absence/{{student.$key}}"></i>
                  {{student.firstName}} {{student.lastName}}</td>
                <td>{{student.lect1}} /14</td>
                <td>{{student.lect2}} /14</td>
                <td>{{student.lect3}} /14</td>
                <td>{{student.lect4}} /14</td>
                <td>{{student.lect5}} /14</td>
                <td>{{student.lect6}} /14</td>
                <td>{{student.lect7}} /14</td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- Pagination -->
        <pagination-controls (pageChange)="p = $event" autoHide="true" responsive="true"></pagination-controls>
        <div class="form-group text-center container">
          <button type="submit" (click)="updateForm()" class="btn btn-lg btn-success btn-block">Update
            Student</button>
        </div>
      </form>
    </div>
  </div>
</div>