<div class="row container-fluid panel panel-primary mySidebar" id="sidebar" 
data-spy="affix" data-offset-top="0" data-offset-bottom="200">
    <div class="col-2 bg-light sidebar sidebar-sticky">
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link active" id="v-pills-add-stu-tab" data-toggle="pill" href="#v-pills-add-stu" role="tab"
                aria-controls="v-pills-add-stu" aria-selected="true"><i class="fas fa-plus"> Add Student</i></a>
            <a class="nav-link" id="v-pills-edit-stu-tab" data-toggle="pill" href="#v-pills-edit-stu" role="tab"
                aria-controls="v-pills-edit-stu" aria-selected="false"><i class="fas fa-list"> View Students list </i></a>
            <a class="nav-link" id="v-pills-add-lect-tab" data-toggle="pill" href="#v-pills-add-lect" role="tab"
                aria-controls="v-pills-add-lect" aria-selected="false"><i class="fas fa-plus"> Add Lecturer</i></a>
            <a class="nav-link" id="v-pills-edit-lect-tab" data-toggle="pill" href="#v-pills-edit-lect" role="tab"
                aria-controls="v-pills-edit-lect" aria-selected="false"><i class="fas fa-list"> View Lecturers list</i></a>
        </div>
    </div>
    <div class="col-9" style="margin:2%">
        <div class="tab-content" id="v-pills-tabContent">
            <div class="tab-pane fade show active" id="v-pills-add-stu" role="tabpanel" aria-labelledby="v-pills-add-stu-tab"
                routeLink="['/register-student']">
                <app-add-student></app-add-student>
            </div>
            <div class="tab-pane fade" id="v-pills-edit-stu" role="tabpanel" aria-labelledby="v-pills-edit-stu-tab"
                routeLink="['/view-students']">
                <app-students-list></app-students-list>
            </div>

            <div class="tab-pane fade" id="v-pills-add-lect" role="tabpanel" aria-labelledby="v-pills-add-lect-tab"
                routeLink="['/register-lecturer']">
                <app-add-lecturer></app-add-lecturer>
            </div>
            <div class="tab-pane fade" id="v-pills-edit-lect" role="tabpanel" aria-labelledby="v-pills-aedit-lect-tab"
                routeLink="['/view-lecturers']">
                <app-lecturers-list></app-lecturers-list>
            </div>
        </div>
    </div>
</div>
<router-outlet></router-outlet>