<!-- choises of shown data -->
<div class="container col-12">
  <div class="row justify-content-center">
    <p class="h2 text-center primary">Attendances of Student</p>
  </div>
</div>
<hr class="my-4 col-8">
<!-- -------------------------------------- -->
<!-- No data shows when their is no student data available -->
<div class="pricing-header row justify-content-center">
  <div class="no-data text-center" *ngIf="noData">
    <p class="nodata-msg">No student added yet!</p>
  </div>

  <!-- Showing students data -->
  <div class="table-responsive col-11" *ngIf="hideWhenNoStudent">
    <table class="table table-bordered table-light table-hover table-responsive-sm table-responsive-md table-responsive-lg">
      <thead>
        <tr>
          <th scope="col">Student name</th>
          <th scope="col">E-Commerce M.</th>
          <th scope="col">Management Processes</th>
          <th scope="col">Mobile Computing</th>
          <th scope="col">Social</th>
          <th scope="col">Linear algebra</th>
          <th scope="col">ERP</th>
          <th scope="col">Adv. PM</th>
        </tr>
      </thead>
      <tbody>
        <!-- *ngFor loop iterates over Student array and fetch the student's data -->
        <!-- paginate pipe will add pagination in student's list, it won't show if items are less then 11 -->
        <tr *ngFor="let student of Student| paginate: { itemsPerPage: 10, currentPage: p }; let i = index;">
          <td>{{student.firstName}} {{student.lastName}}</td>
          <td>{{student.lect1}} /14</td>
          <td>{{student.lect2}} /14</td>
          <td>{{student.lect3}} /14</td>
          <td>{{student.lect4}} /14</td>
          <td>{{student.lect5}} /14</td>
          <td>{{student.lect6}} /14</td>
          <td>{{student.lect7}} /14</td>
        </tr>
        
      </tbody>
      
    </table>
  </div>
  <!-- Pagination -->
  <pagination-controls (pageChange)="p = $event" autoHide="true" responsive="true"></pagination-controls>
</div>
