<div class="row">
  <div class="col-md-3 col-md-offset-1">
    <img class="img" src="../assets/imgs/1.png" alt="UITC Logo" />
  </div>
  <div class="col-md-3 col-md-offset-5">
    <img
      class="img"
      src="../assets/imgs/2.png"
      alt="BIC
      Logo"
    />
  </div>
  <span class="col-md-7 col-sm-4"></span>
</div>
<div class=" container">
  <div class="jumbotron">
    <h1 class="text-center jumbotron">Welcome !</h1>
    <p class="text-center">
      Absence lists of Universty of Information Technology and Communications
    </p>
  </div>
  <div class="btn-group btn-group-justified" role="group">
    <a class="btn btn-primary btn-lg col-md-3" href="#" role="button">Log in</a>
    <a
      class="btn btn-primary btn-lg col-md-3 col-md-offset-6"
      href="#"
      role="button"
      >Show Departments</a
    >
  </div>
</div>
