
.logos{
  margin: 5%;
  width: 200px;
  height: 200px;
}

.jumbotron{
  background-color:#dfdfdf;
  margin-bottom: -1%;
}
.right
{
  float:right
}
.left{
  float:left;
}
.content{
  float: center;
  margin-top: -8em;
}