<div class="pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2"><i class="fas fa-plus"></i><b> Add Lecturer</b></h1>
</div>

<form [formGroup]="studentForm" (ngSubmit)="submitStudentData()" novalidate>
  <!-- -------- names unputs -->
  <div class="row jumbotron">
    <div class="col-12">
      <div class="row">
        <div class="col-md-12 mb-3">
          <label>First name</label>
          <input type="text" formControlName="firstName" class="form-control" placeholder="Lecturer name" required>
          <p *ngIf="firstName.touched && firstName.invalid" class="error"><sup>*</sup>Please enter first name</p>
          <p *ngIf="firstName.errors?.minlength" class="error"><sup>*</sup>Name shouldn't be less than 2 words</p>
        </div>
        <div class="col-md-12 mb-3">
          <label>Last name</label>
          <input type="text" formControlName="lastName" placeholder="Rest of name" class="form-control">
        </div>
      </div>
      <!-- --------------- -->
      <div class="row">
        <!-- --------department selection -->
        <div class="col-md-12 mb-3 ">
          <label>Department Privilages</label>
          <div class="row justify-content-around" formControlName="department" required>
            <div class="col-4 text-center btn-primary">
              <input type="checkbox" id="autoSizingCheck1" value="BIT">
              <label class="form-check-label" for="autoSizingCheck1"> BIT (Business Informatics Technology)</label>
            </div>
            <div class="col-4 text-center btn-primary">
              <input type="checkbox" id="autoSizingCheck2" value="ISM">
              <label class="form-check-label" for="autoSizingCheck2"> ISM (Information Systems Management)</label>
            </div>
            <p *ngIf="department.touched && department.invalid" class="error"><sup>*</sup>Please provide department</p>
            <p *ngIf="department.errors?.pattern" class="error"><sup>*</sup>Please enter correct department</p>
          </div>
          <!-- --------stage selection -->
          <label class="">Stage Privilages</label>
          <div class="row justify-content-start" formControlName="stage" required>

            <div class="col-1 text-center">
              <input type="checkbox" id="autoSizingCheck11" value="1">
              <label class="form-check-label" for="autoSizingCheck11">Stage 1</label>
            </div>

            <div class="col-1 text-center">
              <input type="checkbox" id="autoSizingCheck12" value="2">
              <label class="form-check-label" for="autoSizingCheck12">Stage 2</label>
            </div>
            <div class="col-1 text-center">
              <input type="checkbox" id="autoSizingCheck13" value="3">
              <label class="form-check-label" for="autoSizingCheck13">Stage 3</label>
            </div>
            <div class="col-1 text-center">
              <input type="checkbox" id="autoSizingCheck14" value="4">
              <label class="form-check-label" for="autoSizingCheck14">Stage 4</label>
            </div>
          </div>
        </div>
      </div>
      <!-- ----------buttons -->
      <div class="text-center container">
        <button type="submit" class="btn btn-block btn-lg btn-success my-2" [disabled]="!studentForm.valid"><i class="fas fa-plus"></i>
          Add new lecturer</button>
        <button type="reset" class="col-2 btn btn-lg btn-secondary my-2" (click)="ResetForm()"><i class="fas fa-redo-alt"></i>
          Reset</button>
      </div>
    </div>
  </div>
</form>